---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
---

<Layout title="groups">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Research Groups</Fragment>
      <Fragment slot="desc">
        The members of the Metaproteomics Initiative.
      </Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16"> 
      <p class="text-lg leading-relaxed text-slate-500">
        This page lists all laboratories that joined the Metaproteomics
        Intitiative. Currently, 105 labs in 26 countries joined.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        Want your lab on this list? Become a member and add your lab <a
          href="https://docs.google.com/forms/d/e/1FAIpQLSdZUBIRB1QzDkcyzA1H1PWCUmucne3JVWcBwPucNzUGDTDFXQ/viewform"
          class="font-medium hover:underline">here</a
        >!
      </p>
    </div>

    <div class="grid md:grid-cols-1 gap-1 mx-auto max-w-4xl mt-8">
      <h2 class="font-medium text-2xl text-gray-800">Australia</h2>

      <ul class="list-disc list-inside mb-8 leading-relaxed">
        <li>
          <a
            class="font-medium hover:underline"
            href="https://www.monash.edu/discovery-institute/purcell-lab"
            >Immunoproteomics laboratory</a
          > (Monash University, Clayton), led by Prof. Anthony Purcell
        </li>
        <li>
          <a
            class="font-medium hover:underline"
            href="https://di.uq.edu.au/profile/1399/emma-hamilton-williams"
            >Type 1 diabetes pathogenesis and therapy</a
          > (University of Queensland, Brisbane), led by Dr. Emma Hamilton-Williams
        </li>
      </ul>

      <h2 class="font-medium text-2xl text-gray-800">Austria</h2>

      <ul class="list-disc list-inside mb-8 leading-relaxed">
        <li>
          Center for Microbiology and Environmental Systems Science (University
          of Vienna, Vienna), led by Prof. Wolfgang Wanek
        </li>
        <li>
          Institute of Soil Research (University of Natural Resources and Life
          Sciences, Vienna), led by Prof. Sophie Zechmeister-Boltenstern
        </li>
        <li>
          Systems Biology of Pain. Division of Pharmacology &amp; Toxicology
          (University of Vienna, Vienna), led by Prof. Manuela Schmidt
        </li>
      </ul>

      <h2 class="font-medium text-2xl text-gray-800">Belgium</h2>

      <ul class="list-disc list-inside mb-8 leading-relaxed">
        <li>
          <a
            class="font-medium hover:underline"
            href="https://www.compomics.com">CompOmics</a
          > (Ghent University, Ghent), led by Prof. Lennart Martens
        </li>
        <li>
          Computational Biology Group (Ghent University, Ghent), led by Prof.
          Peter Dawyndt
        </li>
        <li>
          Proteomics and microbiology (University of Mons, Mons), led by Prof.
          Ruddy Wattiez
        </li>
        <li>Puratos (Industry, Brussels) led by Dr. Azadeh Mohammadi</li>
      </ul>

      <h2 class="font-medium text-2xl text-gray-800">Canada</h2>

      <ul class="list-disc list-inside mb-8 leading-relaxed">
        <li>
          Bioinformatics of Proteomics and Network Biology lab (Ottawa), led by
          Prof. Mathieu Lavallée-Adam
        </li>
        <li>
          Cellular immunology and mass spectrometry laboratory (Health Canada,
          Ottawa), led by Dr. Xu Zhang
        </li>
        <li>
          <a
            class="font-medium hover:underline"
            href="https://ucalgary.ca/labs/ebg">Energy Bioengineering Group</a
          >
          (University of Calgary, Calgary), led by Dr. Marc Strous
        </li>
        <li>
          <a class="font-medium hover:underline" href="http://northomics.ca/"
            >Northomics lab</a
          > (University of Ottawa, Ottawa), led by Prof. Daniel Figeys
        </li>
      </ul>

      <h2 class="font-medium text-2xl text-gray-800">China</h2>

      <ul class="list-disc list-inside mb-8 leading-relaxed">
        <li>Guomics Lab (Westlake University, Hangzhou) led by Dr. Tiannan Guo</li>
        <li>
          <a
            class="font-medium hover:underline"
            href="https://faculty.fudan.edu.cn/qiaoliang/zh_CN//"
            >Liang Qiao’s Research Group</a
          > (Fudan University, Shanghai), led by Prof. Liang Qiao
        </li>
        <li>
          Liu’s lab (University of Chinese Academy and Sciences, Shenzhen), led
          by Prof. Siqi Liu
        </li>
        <li>
          <a
            class="font-medium hover:underline"
            href="https://plant-en.njau.edu.cn/"
            >Key Laboratory of Biointeractions and Green Pest Control and Prevention, College of Plant Protection</a
          > (Nanjing Agricultural University, Nanjing), led by Prof. Dr. Yuan Chao Wang
        </li>
        <li>
          Proteome-level Microbial Systems Ecology (ProMiSE Lab) (National
          Center for Protein Sciences (the Phoenix Center), Beijing), led by Dr.
          Leyuan Li
        </li>
        <li>
          <a
            class="font-medium hover:underline"
            href="https://loop.frontiersin.org/people/255437"
            >Rumen microbiome group</a
          > (Institute of Animal Sciences, Chinese Academy of Agricultural Sciences,
          Beijing), led by Prof. Shengguo Zhao
        </li>
        <li>
          Wastewater Treatment Biotechnology and Aquatic Environment Remediation
          (Nanjing University, Nanjing), led by Prof. Hongqiang Ren
        </li>
        <li>
          <a
            class="font-medium hover:underline"
            href="http://www.proteomics.dicp.ac.cn/index.htm"
            >High Efficient Separation and Characterization of Biomolecules</a
          > (Dalian Institute of Chemical Physics, Chinese Academy of Sciences, Dalian, Liaoning), led by Prof. Lihua Zhang
        </li>
      </ul>

      <h2 class="font-medium text-2xl text-gray-800">Denmark</h2>

      <ul class="list-disc list-inside mb-8 leading-relaxed">
        <li>
          <a
            href="https://vbn.aau.dk/da/organisations/environmental-biology-monitoring"
            >Environmental Biology Monitoring</a
          > (Aalborg University, Aalborg), led by Prof. Jeppe Lund Nielsen
        </li>
      </ul>
      <h2 class="font-medium text-2xl text-gray-800">Estonia</h2>

      <ul class="list-disc list-inside mb-8 leading-relaxed">
        <li>Metagenomics and Analytics (Tftak, Tallinn) led by Ms. Jekaterina Kazantseva</li>
      </ul>

      <h2 class="font-medium text-2xl text-gray-800">Finland</h2>

      <ul class="list-disc list-inside mb-8 leading-relaxed">
        <li>
          <a class="font-medium hover:underline" href="https://elolab.utu.fi/"
            >Computational Biomedicine</a
          > (University of Turku, Turku), led by Prof. Laura Elo
        </li>
      </ul>

      <h2 class="font-medium text-2xl text-gray-800">France</h2>

      <ul class="list-disc list-inside mb-8 leading-relaxed">
        <li>
          <a
            class="font-medium hover:underline"
            href="http://www2.agroparistech.fr/Micalis-Microbiologie-de-l.html"
            >Micalis Institute</a
          > (INRAE, AgroParisTech, Universite Paris-Saclay, Jouy-en-Josas), led by
          Catherine Juste
        </li>
        <li>
          <a class="font-medium hover:underline" href="http://pappso.inrae.fr"
            >PAPPSO proteomic facility</a
          > (Paris), led by Céline Henry and Olivier Langella
        </li>
        <li>
          <a class="font-medium hover:underline" href="https://phylogene.com"
            >Phylogene Mass Spec lab and dedicated Bioinformatics</a
          > (Nîmes), led by Mr. Gilbert Skorski
        </li>
        <li>
          <a
            class="font-medium hover:underline"
            href="https://www.ibisa.net/plateformes/progenomix-570.html"
            >ProGenoMix platform</a
          > (CEA, Bagnols-sur-Cèze), led by Dr. Jean Armengaud
        </li>
        <li>
          <a
            class="font-medium hover:underline"
            href="http://www.toulouse-biotechnology-institute.fr/"
            >Systems biology of microbial consortia</a
          > (Toulouse Biotechnology Institute, Toulouse), led by Dr. Guillermina
          Hernandez-Raquet
        </li>
      </ul>

      <h2 class="font-medium text-2xl text-gray-800">Germany</h2>

      <ul class="list-disc list-inside mb-8 leading-relaxed">
        <li>
          <a
            class="font-medium hover:underline"
            href="http://kohlbacherlab.org/">Applied Bioinformatics Group</a
          > (University of Tübingen, Tübingen), led by Prof. Oliver Kohlbacher
        </li>
        <li>
          <a
            class="font-medium hover:underline"
            href="http://www.esciencelab.de">BAM eScience Group</a
          > (Federal Institute for Materials Research and Testing (BAM), Berlin),
          led by Dr. Thilo Muth
        </li>
        <li>
          Chair of Bioprocess Engineering (Otto von Guericke University,
          Magdeburg), led by Prof. Udo Reichl
        </li>
        <li>Department of Environmental Biotechnology (Helmholtz Centre for Environmental Research – UFZ , Leipzig) led by
          Prof. Lorenz Adrian</li>
        <li>
          Functional Microbiology in Animal Science group (Stuttgart), led by
          Prof. Jana Seifert
        </li>
        <li>
          Data Analytics &amp; Computational Statistics Group (HPI Potsdam), led
          by Bernhard Renard
        </li>
        <li>MF1 - Bioinformatics Group (RKI Berlin), led by Stephan Fuchs</li>
        <li>Microbial Communities (Magdeburg), led by Dr. Dirk Benndorf</li>
        <li>
          <a
            class="font-medium hover:underline"
            href="https://microbialproteomics.uni-greifswald.de/en/"
            >Microbial Proteomics</a
          > (University of Greifswald, Greifswald), led by Prof. Katharina Riedel
          and Prof. Dörte Becher
        </li>
        <li>
          <a class="font-medium hover:underline" href="https://www.hs-anhalt.de/hochschule-anhalt/angewandte-biowissenschaften-und-prozesstechnik/forschung/forschungsgruppen/mikrobielle-gemeinschaften/start.html">
            Microbial Communities
          </a>
          (Anhalt University of Applied Sciences, Köthen), led by Prof. Dirk Benndorf
        </li>
        <li>
          <a
            class="font-medium hover:underline"
            href="https://www.ufz.de/index.php?en=44127">Microbiome Biology</a
          >
          (Helmholtz-Centre for Environmental Research - UFZ, Leipzig), led by Dr.
          Nico Jehmlich
        </li>
        <li>
          Multidimensional omics data analysis (ISAS e.V., Dortmund), led by
          Jun.-Prof. Robert Heyer
        </li>
        <li>
          <a
            class="font-medium hover:underline"
            href="https://www.biochem.mpg.de/mann"
            >Proteomics and Signal Transduction</a
          > (Ludwig Maximilians Uni Munich, Munich), led by Prof. Matthias Mann
        </li>
        <li>
          <a
            class="font-medium hover:underline"
            href="https://www.tcf.tum.de/baybioms/ludwig-group/"
            >Bavarian Center for Biomolecular Mass Spectrometry (BayBioMS)</a
          > (Technical University of Munich, Freising), led by Dr. Christina Ludwig
        </li>
        <li>
          Proteomics and Spectroscopy (Robert Koch-Institute, Berlin), led by Dr. Peter Lasch
        </li>
      </ul>

      <h2 class="font-medium text-2xl text-gray-800">Greece</h2>

      <ul class="list-disc list-inside mb-8 leading-relaxed">
        <li>Laboratory of Comparative Physiology and Pathophysiology (University of Thessaly, Karditsa) led by Prof.
          Angeliki Katsafadou</li>
      </ul>

      <h2 class="font-medium text-2xl text-gray-800">India</h2>

      <ul class="list-disc list-inside mb-8 leading-relaxed">
        <li>
          Bioenergy group (Agharkar Research Institute, Pune), led by Dr.
          Prashant Dhakephalkar
        </li>
        <li>
          <a class="font-medium hover:underline" href="https://sites.google.com/view/infectionbioengineering">
            Infection Bioengineering Group
          </a>
          (Indian Institute of Technology Indore, Indore), led by Dr. Hem Chandra Jha
        </li>
        <li>
          Micro-omics Lab (CSIR-National Institute of Oceanography, Goa), led by
          Dr. Samir R. Damare
        </li>
        <li>
          Department Of Neurochemistry (National Institute of Mental Health and Neurosciences, Bengaluru), led by Dr. Gokulakrishnan Kuppan
        </li>
        <li>
          <a class="font-medium hover:underline" href="https://www.ils.res.in/scientists/amol-ratnakar-suryawanshi/">Clinical Proteomics Laboratory</a>
          (BRIC-Institute of Life Sciences, Bhubaneswar), led by Dr. Amol Ratnakar Suryawanshi
        </li>
      </ul>

      <h2 class="font-medium text-2xl text-gray-800">Ireland</h2>

      <ul class="list-disc list-inside mb-8 leading-relaxed">
        <li>
          Functional Environmental Microbiology (University of Galway, Galway), led by Dr. Florence Abram
        </li>
      </ul>

      <h2 class="font-medium text-2xl text-gray-800">Israel</h2>

      <ul class="list-disc list-inside mb-8 leading-relaxed">
        <li>Lobel Lab (Bar-Ilan University, Ramat Gan) led by Dr. Lior Lobel</li>
      </ul>

      <h2 class="font-medium text-2xl text-gray-800">Italy</h2>

      <ul class="list-disc list-inside mb-8 leading-relaxed">
        <li>
          Center for Research and Education on the Microbiota (University of
          Sassari, Sassari), led by Prof. Sergio Uzzau
        </li>
        <li>
          <a
            class="font-medium hover:underline"
            href="https://www.ospedalebambinogesu.it/microbioma-umano-94861/"
            >Human Microbiome</a
          > (Bambino Gesù Children’s Hospital, Rome), led by Prof. Lorenza Putignani
        </li>
        <li>
          Microbial proteomics - one health section (University of Milan,
          Milan), led by Prof. Alessio Soggiu
        </li>
        <li>
          <a
            href="https://www.biochemistry-scienze.unito.it/pessione-projects.html"
            >microbial biochemistry, proteomics and metabolic engineering</a
          > (University of Torino, Torino), led by Prof. Enrica Pessione
        </li>
      </ul>

      <h2 class="font-medium text-2xl text-gray-800">Japan</h2>

      <ul class="list-disc list-inside mb-8 leading-relaxed">
        <li>
          Trans-Omics (Kitasato University, Sagamihara), led by Prof. Shin Kawano
        </li>
      </ul>

      <h2 class="font-medium text-2xl text-gray-800">Luxemburg</h2>

      <ul class="list-disc list-inside mb-8 leading-relaxed">
        <li>
          <a class="font-medium hover:underline" href="http://www.list.lu"
            >Biotechnologies and Environmental Analytics Platform</a
          > (Belvaux), led by Dr. Jenny Renaut
        </li>
        <li>Genome Analysis (Luxembourg Centre for Systems Biomedicine, Esch-sur-Alzette) led by Dr. Patrick May</li>
        <li>
          <a
            class="font-medium hover:underline"
            href="https://wwwen.uni.lu/lcsb/research/systems_ecology"
            >Systems Ecology</a
          > (University of Luxembourg, Luxembourg), led by Prof. Paul Wilmes
        </li>
      </ul>

      <h2 class="font-medium text-2xl text-gray-800">
        The Netherlands<a
          class="header-link"
          href="#the-netherlands"
          title="Permalink"></a>
      </h2>

      <ul class="list-disc list-inside mb-8 leading-relaxed">
        <li>
          <a class="font-medium hover:underline" href="http://cpm.lumc.nl/about-this-group-225"
            >Center for Proteomics and Metabolomics</a
          > (Leiden University Medical Center, Leiden), led by Prof. Magnus Palmblad
        </li>
        <li>
          <a
            href="https://sils.uva.nl/content/research-groups/mass-spectrometry-of-biomolecules/mass-spectrometry-of-biomolecules.html"
            >Mass Spectrometry of Biomolecules</a
          > (University of Amsterdam, Amsterdam), led by Dr. Gertjan Kramer
        </li>
        <li>
          <a
            href="https://www.tudelft.nl/tnw/over-faculteit/afdelingen/biotechnology/research-sections/environmental-biotechnology/martin-pabst-group"
            >Microbial proteomics lab</a
          > (Delft University of Technology, Delft), led by Dr. Martin Pabst
        </li>
      </ul>

      <h2 class="font-medium text-2xl text-gray-800">Norway</h2>

      <ul class="list-disc list-inside mb-8 leading-relaxed">
        <li>
          <a
            class="font-medium hover:underline"
            href="https://www.nmbu.no/en/research/groups/memo"
            >Microbial Ecology and Meta-Omics Group</a
          > (NMBU, Aas), led by Assoc. Prof. Phil Pope and Dr. Magnus Arntzen
        </li>
        <li>
          The Protein engineering and proteomics group (NMBU, Aas), led by Prof.
          Vincent Eijsink
        </li>
      </ul>

      <h2 class="font-medium text-2xl text-gray-800">Romania</h2>

      <ul class="list-disc list-inside mb-8 leading-relaxed">
        <li>
          <a
            class="font-medium hover:underline"
            href="http://cristianvamunteanu.tk"
            >Protein Chemistry Facility (PCF)</a
          > (Institute of Biochemistry of the Romanian Academy, Buccharest), led
          by Dr. Christian Munteanu
        </li>
      </ul>

      <h2 class="font-medium text-2xl text-gray-800">Spain</h2>

      <ul class="list-disc list-inside mb-8 leading-relaxed">
        <li>
          <a
            class="font-medium hover:underline"
            href="https://www.christieoleza-lab.com/"
            >Laboratory of Microbiology</a
          > (University of the Balearic Islands, Palma), led by Dr. Joseph Christie-Oleza
        </li>
        <li>Microbiology and proteomics (IVAGRO) (University of Cádiz, Cádiz) led by Prof. Francisco Javier Fernández
          Acero</li>
        <li>
          <a
            class="font-medium hover:underline"
            href="https://cibm.ugr.es/pages/lineasdeinvestigacion"
            >Microbiota in infant development</a
          > (University of Granada, Granada), led by Dr. Antonio Suarez
        </li>
        <li>
          <a
            class="font-medium hover:underline"
            href="https://www.ucm.es/candida-en/investigation-group"
            >Microorganism - Host Interaction. Human Proteome Project</a
          > (Universidad Complutense de Madrid, Madrid), led by dr. Concha Gil
        </li>
        <li>
          Molecular Oncology and Pathology Lab (Hospital Universitario La Paz,
          Madrid), led by Dr. Juan Ángel Fresno Vara
        </li>
      </ul>

      <h2 class="font-medium text-2xl text-gray-800">Sweden</h2>

      <ul class="list-disc list-inside mb-8 leading-relaxed">
        <li>
          <a class="font-medium hover:underline" href="https://www.gu.se/en/research/">Clinical microbiology</a>
          (Sahlgrenska University Hospital, Gothenburg), led by Assoc. Professor Roger Karlsson
        </li>
      </ul>

      <h2 class="font-medium text-2xl text-gray-800">
        Switzerland<a class="header-link" href="#switzerland" title="Permalink"
        ></a>
      </h2>

      <ul class="list-disc list-inside mb-8 leading-relaxed">
        <li>
          <a
            class="font-medium hover:underline"
            href="https://www.sib.swiss/christian-ahrens-group"
            >Bioinformatics and Proteogenomics Group</a
          > (SIB Swiss Institute of Bioinformatics, Wädenswil) led by Dr. Christian
          Ahrens
        </li>
        <li>
          <a
              class="font-medium hover:underline"
              href="https://www.botinst.uzh.ch/en/research/limnology/andrei/research.html"
              >Microbial Evogenomics Lab, Department of Plant and Microbial Biology
          </a> (University of Zurich, Zurich) led by Dr. Adrian-Stefan Andrei
        </li>
      </ul>

      <h2 class="font-medium text-2xl text-gray-800">
        Turkey<a class="header-link" href="#turkey" title="Permalink"
        ></a>
      </h2>

      <ul class="list-disc list-inside mb-8 leading-relaxed">
        <li>
          Microbiomics (Istanbul University, Istanbul) led by Dr. Muzaffer Arıkan
        </li>
      </ul>

      <h2 class="font-medium text-2xl text-gray-800">
        United Kingdom<a
          class="header-link"
          href="#united-kingdom"
          title="Permalink"></a>
      </h2>

      <ul class="list-disc list-inside mb-8 leading-relaxed">
        <li>
          <a
            href="https://sites.google.com/sheffield.ac.uk/lidbury-ecophysiology-lab"
            >Environmental Molecular Microbiology Group</a
          > (University of Sheffield, Sheffield), led by Dr. Ian Lidbury
        </li>
        <li>
          <a
            class="font-medium hover:underline"
            href="http://www.graystock.info">Graystock lab</a
          > (Imperial College London, Ascot), led by Dr. Peter Graystock
        </li>
        <li>
          <a
            class="font-medium hover:underline"
            href="https://www.pandhalresearchgroup.co.uk"
            >Microbial Systems Engineering</a
          > (The University of Sheffield, Sheffield), led by Dr. Jags Pandhal
        </li>
        <li>
          <a
            class="font-medium hover:underline"
            href="https://www.stir.ac.uk/people/257410#research"
            >Molecular Ecotoxicology and Environmental Proteomics</a
          > (University of Stirling, Stirling), led by Dr. Sabine Matallana Surget
        </li>
        <li>
          <a
            href="https://www.mrc-tox.cam.ac.uk/research/research-groups/patil-group"
            >Patil lab</a
          > (University of Cambridge, Cambridge), led by Dr. Kiran Raosaheb Patil
        </li>
        <li>
          <a
            class="font-medium hover:underline"
            href="https://www.ebi.ac.uk/about/people/juan-vizcaino"
            >Proteomics team</a
          > (EMBL-EBI, Hinxton), led by Dr. Juan Antonio Vizcaino
        </li>
        <li>
          <a
            href="https://www.ed.ac.uk/roslin/facilities-resources/proteomics-and-metabolomics-facility"
            >Roslin Proteomics and Metabolomics Facility</a
          > (University of Edinburgh, Edinburgh), led by Dr. Dominic Kurian
        </li>
        <li>
          AI &amp; Metaproteomics for Human Gut Health (Quadram Institute Bioscience, Norwich), led by Dr. Kai Cheng
        </li>
        <li>
          <a class="font-medium hover:underline" href="https://quadram.ac.uk/people/daniel-figeys/">Quadram Institute</a>
          (Quadram Institute, Norwich), led by Daniel Figeys
        </li>
      </ul>

      <h2 class="font-medium text-2xl text-gray-800">
        United States of America<a
          class="header-link"
          href="#united-state-of-america"
          title="Permalink"></a>
      </h2>

      <ul class="list-disc list-inside mb-8 leading-relaxed">
        <li>
          <a class="font-medium hover:underline" href="http://bhattlab.com"
            >Bhatt lab</a
          > (Stanford University, Stanford), led by Prof. Ami Bhatt
        </li>
        <li>
          <a
            class="font-medium hover:underline"
            href="https://www.research.colostate.edu/bio/"
            >Bioanalysis and Omics Center, Analytical Resources Core</a
          >, (Colorado State University, Fort Collins, CO), led by Dr. Corey
          Broeckling
        </li>
        <li>
          <a
            class="font-medium hover:underline"
            href="https://www.ornl.gov/group/bioanalytical-mass-spectrometry"
            >Bioanalytical Mass Spectrometry</a
          > (Oak Ridge National Laboratory, Oak Ridge, TN), led by Dr. Robert L.
          Hettich
        </li>
        <li>
          <a
            href="https://www.nist.gov/mml/csd/biochemical-and-exposure-science-group"
            >Biochemical and Exposure Science Group</a
          > (NIST-Charleston, Charleston, SC), led by Dr. Benjamin Neely
        </li>
        <li>
          <a
            class="font-medium hover:underline"
            href="https://homes.luddy.indiana.edu/yye">Bioinformatics lab</a
          > (Indiana University, Bloomington, IN), led by Dr. Yuzhen Ye
        </li>
        <li>
          <a class="font-medium hover:underline" href="emsl.pnnl.gov"
            >Biomolecular Pathways Integrated Research Core</a
          > (Pacific Northwest National Laboratory, Richland), led by Dr. Mary Lipton
        </li>
        <li>
          <a class="font-medium hover:underline" href="https://www.emsl.pnnl.gov/science/functional-and-systems-biology">Functional and Systems Biology</a>
          (Pacific Northwest National Laboratory, Richland, WA), led by Dr. Kristin Burnum-Johnson
        </li>
        <li>
          Computational Omics Lab (Indiana University, Bloomington, IN), led by
          Prof. Haixu Tang
        </li>
        <li>
          <a
            href="https://www.mayo.edu/research/labs/gastrointestinal-barrier-function"
            >Gastrointestinal Barrier Function Laboratory</a
          > (Mayo Clinic, Rochester, MN), led by Dr. Madhusudan Grover
        </li>
        <li>
          <a class="font-medium hover:underline" href="https://galaxyp.org"
            >Griffin Research Group/Galaxy-P</a
          > (University of Minnesota, Minneapolis, MN), led by Dr. Pratik Jagtap
          and Prof. Timothy Griffin
        </li>
        <li>
          <a class="font-medium hover:underline" href="https://cvm.ncsu.edu/research/labs/clinical-sciences/intestinal-regenerative-medicine/"
            >Intestinal Regenerative Medicine Lab</a
          > (North Carolina State University, Raleigh, NC), led by Prof. Liara M. Gonzalez
        </li>
        <li>
          <a
            class="font-medium hover:underline"
            href="https://kleinerlab.cals.ncsu.edu/">Kleiner Lab</a
          > (North Carolina State University, Raleigh, NC), led by Dr. Manuel Kleiner
        </li>
        <li>Mass Spectrometry Core Facility (Arizona State University, Tempe) led by Prof. Tim Karr</li>
        <li>
          <a
            class="font-medium hover:underline"
            href="http://environmentalproteomics.org"
            >Nunn Lab- Environmental Proteomics</a
          > (University of Washington), led by Prof. Brook Nunn
        </li>
        <li>
          Nutritional Immunology (Arkansas Children’s Nutrition Center, Little
          Rock, AR), led by Dr. Laxmi Yeruva
        </li>
        <li>Quantitative Molecular Biological Physics (National Center for Biothenology, Bethesda, Maryland) led by Dr.
          Yi-Kuo Yu</li>
        <li>
          <a class="font-medium hover:underline" href="http://www.rawlab.com"
            >RAW lab</a
          > (UNCC, Charlotte, NC), led by Dr. Richard Allen White III
        </li>
        <li>
          <a
            class="font-medium hover:underline"
            href="https://saeedlab.cis.fiu.edu/">Saeed Lab</a
          > (FIU, Miami, FL), led by Prof. Fahad Saeed
        </li>
        <li>
          <a class="font-medium hover:underline" href="Www.WHOI.edu/saitolab"
            >Saito Lab</a
          > (Woods Hole Oceanographic Institution, Massachusetts), led by Prof. Mak
          Saito
        </li>
        <li>Wright Group – Chemical Biology of Microbiomes (Baylor University, Waco, Texas) led by Prof. Aaron Wright</li>
      </ul>
    </div>
  </Container>
</Layout>
