---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-12">
  <h2 class="text-center text-slate-500">Supported by</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <img src="/images/eupalogo.png" alt="EuPA logo" style="height:150px;">
    <img src="/images/hupologo.jpg" alt="hupo logo" style="height:150px;">
    <img src="/images/elixirlogo.png" alt="Elixir logo" style="height:150px;">
  </div>
</div>
