<main class="grid lg:grid-cols-6" style="background-color: #E8F3FE; padding: 32px;">
  <div class="col-span-5 pr-4">
    <h2 class="text-3xl lg:text-3xl font-bold lg:tracking-tight">
      MPI Best Manuscript Award
    </h2>
    <p class="text-lg mt-2 text-slate-600">
        We are excited to announce the next round of the Metaproteomics Initiative’s Best Manuscript Award, which will be presented at the 7th International Metaproteomics Symposium, taking place June 22-25, 2026 in Dessau-Rösslau, Germany. 
    </p>
    <p class="text-lg mt-2 text-slate-600">
        The Best Manuscript Award was established to give early career researchers (ECRs) the opportunity to gain visibility in the metaproteomics community and to highlight their important contributions to the field of metaproteomics.
    </p>
    <p class="text-lg mt-2 text-slate-600">
      We encourage all ECRs to participate with a manuscript submitted to a peer-reviewed journal or available on a preprint server between November 1, 2024 and March 1, 2026.  The winner will be given the opportunity to present their work in a dedicated plenary session.  
    </p>
    <p class="text-lg mt-2 text-slate-600">
      <span style="font-weight: bold;">Application deadline: March 01, 2026</span>
    </p>
    <p class="text-lg mt-2 text-slate-600">
      <a style="text-decoration: underline; font-weight: bold;" href="https://metaproteomics.org/news/2025-10-15-best-manuscript-announcement">Click here for more information.</a>
    </p>
  </div>
</main>
