<main class="grid lg:grid-cols-6" style="background-color: #E8F3FE; padding: 32px;">
  <div class="col-span-5 pr-4">
    <h2 class="text-3xl lg:text-3xl font-bold lg:tracking-tight">
      Congratulations Alfredo Blakeley-Ruiz!
    </h2>
    <p class="text-lg mt-2 text-slate-600">
        We are delighted to announce the winner of the 1st Best Manuscript Award, proudly presented by the Metaproteomics Initiative! 
    </p>
    <p class="text-lg mt-2 text-slate-600">
        From three pre-selected manuscripts, the members of the Metaproteomics Initiative voted to select the best manuscript since the last International Metaproteomics Symposium. The winning manuscript, <span style="font-style:italic;">&quot; Dietary protein source strongly alters gut microbiota composition and function &quot;</span> was submitted by Dr. Alfredo Blakeley-Ruiz. Congratulations to Dr. Blakeley-Ruiz and his co-authors on this well-deserved recognition!
    </p>
    <p class="text-lg mt-2 text-slate-600">
      As an Initiative, we believe it is important to promote ECRs and stimulate high-quality research. By doing so, we hope to inspire other researchers, which will ultimately benefit metaproteomics as a whole. We also want to extend our congratulations to Andrew T. Rajczewski and Patrick Hellwig, whose manuscripts were selected as finalists. We thank all ECRs who submitted their work and all members of the Metaproteomics Initiative who participated in the voting process. 
    </p>
  </div>
  <div>
    <img src="/images/best_manuscript_award_2025/blakeley.jpg">
  </div>
</main>
