<main class="grid">
  <div style="background-color: #E8F3FE; padding: 32px;">
    <h2 class="text-3xl lg:text-3xl font-bold lg:tracking-tight">
      Vote for the best manuscript!
    </h2>
    <p class="text-lg mt-2 text-slate-600">
        It's time to vote for the best manuscript in the field of metaproteomics!
    </p>
    <p class="text-lg mt-2 text-slate-600">
        Following the call for the best manuscript of the year, we have received a number of manuscripts. 
        All manuscripts have now been evaluated by our scientific committee, who have selected the three finalists. 
        Now it's up to you, the metaproteomics community, to vote for your favorite.
    </p>
    <p class="text-lg mt-2 text-slate-600">
        Please find here the finalists' manuscripts (order according to submission date):
        <ol>
            <li class="text-lg text-slate-600 ml-4 my-2">1.<span style="font-weight: bold; margin-left: 6px;">Dietary protein source strongly alters gut microbiota composition and function</span> by Blakeley-Ruiz et al. <a href="/manuscripts/Blakeley-Ruiz.pdf" style="text-decoration: underline; font-weight: bold;">(PDF)</a></li>
            <li class="text-lg text-slate-600 ml-4 my-2">2.<span style="font-weight: bold; margin-left: 6px;">Tracing active members in microbial communities by BONCAT and click chemistry-based enrichment of newly synthesised proteins</span> by Hellwig et al. <a href="/manuscripts/Hellwig.pdf" style="text-decoration: underline; font-weight: bold;">(PDF)</a></li>
            <li class="text-lg text-slate-600 ml-4 my-2">3.<span style="font-weight: bold; margin-left: 6px;">Data-Independent Acquisition Mass Spectrometry as a Toolfor Metaproteomics: Interlaboratory Comparison Using Model Microbiome</span> by Rajczewski et al. <a href="/manuscripts/Rajczewski.pdf" style="text-decoration: underline; font-weight: bold;">(PDF)</a></li>
        </ol>
    </p>

    <p class="text-lg mt-2 text-slate-600">
        Please cast your vote using <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=3hyB1-_sbEmPkaF4YkG5nE9OcrFOgI9AjPOBs9GtvKZUM0wzSjZKTVVIMDNMUE9aUzVGWDdKSDI5MC4u" style="text-decoration: underline; font-weight: bold;">the following form.</a>
    </p>
    <p class="text-lg mt-2 text-slate-600">
        Please note that each member has only one vote and that only members of the 
        Metaproteomics Initiative can vote. The voting system will be open until the <span style="font-weight: bold;">4th of 
        December 12 noon (CET)</span>.
    </p>
    <p class="text-lg mt-2 text-slate-600">
        (You are not yet a member? Then sign up and secure your chance to vote for your 
        Best Manuscript).
    </p>
    <p class="text-lg mt-2 text-slate-600">
        If you have any questions or problems, please contact us at <a href="mailto:info@metaproteomics.org" style="text-decoration: underline; font-weight: bold;">info@metaproteomics.org</a>.
    </p>
  </div>
</main>
